.header {
    width: 100%;
    background-color: cyan;
    text-align: center;
    font-size: 2rem;
  }

  .body {
    padding-left: 10px;
  }

  .trailer {
    width: 100%;
    height: 3vh;
    background-color: orange;
    text-align: right;
    font-size:xx-small;
    padding-right: 10px
  }